Source: python-vimeo
Section: libs
Priority: extra
Maintainer: Marc Poulhiès <dkm@kataplop.net>
Build-Depends: cdbs, debhelper (>= 7), python-support, python-all-dev
Standards-Version: 3.8.1

Package: python-vimeo
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python (>=2.5)
Description: python module for using vimeo
 Python module for using API offered by vimeo

